.contact {
  background-color: $background-color-main;
}

.contact__info {
  padding-top: 30px;
  padding-bottom: 24px;
  padding-left: 0;
  padding-right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.contact__cooperation {
  width: 125px;
  margin-top: 0;
  padding: 0;
  margin-bottom: 0;
  margin-right: 17px;
  font-size: 16px;
  line-height: 20px;
  color: $font-color-header;
  font-weight: 400;
  text-transform: uppercase;
}

.contact__address {
  width: 140px;
  margin: 0;
  padding: 0;
  font-family: $font-family-additional;
  font-size: 14px;
  line-height: 20px;
  color: $font-color-main;
  font-weight: 400;
}

.contact__map {
  position: relative;
}

.contact__google-img {
  width: 320px;
  height: 364px;
  display: block;
  margin: 0 auto;
  z-index: -1;
}

.contact__google-map {
  width: 100%;
  height: 364px;
  position: absolute;
  top: 0;
  z-index: 3;
}

@media (min-width: $tablet-width) {
  .contact__info {
    justify-content: space-around;
    padding-top: 63px;
    padding-bottom: 58px;
    @include container;
  }

  .contact__cooperation {
    width: 195px;
    margin-right: 236px;
    font-size: 20px;
    line-height: 25px;
  }

  .contact__address {
    width: 195px;
    font-size: 16px;
    text-align: right;
  }

  .contact__google-img {
    width: 768px;
    height: 400px;
  }

  .contact__google-map {
    height: 400px;
  }
}

@media (min-width: $desktop-width) {
  .contact__wrapper {
    @include container;
    position: relative;
  }

  .contact__info {
    position: absolute;
    top: 95px;
    left: 110px;
    z-index: 10;
    width: 570px;
    padding-top: 62px;
    padding-bottom: 59px;
    padding-right: 76px;
    padding-left: 76px;
    background-color: #ffffff;
  }

  .contact__cooperation {
    width: 168px;
    margin-right: 0;
  }

  .contact__address {
    width: 168px;
    text-align: left;
  }

  .contact__address-city {
    display: inline-block;
    margin-top: 20px;
  }

  .contact__google-img {
    width: 100%;
    max-width: 1440px;
    height: auto;
  }

  .contact__google-map {
    height: 100%;
  }
}

