.example {
  position: relative;

  padding-bottom: 30px;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    z-index: -10;

    width: 100%;
    height: 100%;

    background-color: $background-color-lightgrey;
  }
}

.example__wrapper {
  @include container;
}

.example__title {
  margin-top: 0;
  margin-bottom: 33px;

  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  color: $font-color-header;
}

.example__description {
  margin-top: 0;
  margin-bottom: 27px;

  line-height: 18px;
  font-family: $font-family-additional;
}

.example__info {
  margin-bottom: 25px;
}

.example__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 35px;
  margin-left: 0;
  padding: 0;

  list-style: none;
  text-align: center;
}

.example__item {
  box-sizing: border-box;
  width: 100%;
  max-width: 124px;
  padding-top: 15px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;

  border: 1px solid #cdcdcd;
  border-radius: 5px;
}

.example__result-wrapper {
  max-width: 105px;
  margin-right: auto;
  margin-bottom: -20px;
  margin-left: auto;
  padding-right: 10px;
  padding-left: 10px;

  background-color: $background-color-lightgrey;
}

.example__result {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: $font-color-header;
  text-transform: uppercase;
}

.example__result-description {
  margin-top: 8px;
  margin-bottom: 0;

  font-size: 12px;
  line-height: 12px;
  font-family: $font-family-additional;
}

.example__cost {
  line-height: 20px;
  text-align: center;
  color: $font-color-header;
  text-transform: uppercase;
}


@media (min-width: $tablet-width) {
  .example {
    background-color: #ffffff;
  }

  .example__title {
    font-size: 60px;
    line-height: 60px;
  }

  .example__description {
    padding-right: 10px;

    font-size: 16px;
  }

  .example__info {
    display: flex;
    justify-content: space-between;
  }

  .example__list {
    width: 365px;
  }

  .example__item {
    max-width: 162px;
  }

  .example__result-wrapper {
    max-width: inherit;
    margin-bottom: -9px;

    background-color: #ffffff;
  }

  .example__result {
    font-size: 30px;
    line-height: 37px;
  }

  .example__cost {
    width: 185px;

    font-size: 20px;
    text-align: right;
  }
}
