.features__wrapper {
  @include container;
}

.features__title {
  margin: 0;
  padding-top: 19px;
  padding-bottom: 26px;

  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
}

.features__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
  padding: 0;

  list-style: none;
}

.features__item {
  position: relative;

  display: flex;
  margin-bottom: 20px;

  font-family: $font-family-additional;


  &::before {
    content: "";

    display: block;
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    margin-right: 20px;

    background-color: #68b738;
    background-position: center center;
    background-size: 50px 50px;
  }
}

.features__description {
  box-sizing: border-box;
  margin: 0;
  padding-top: 3px;
  padding-bottom: 0;

  line-height: 18px;
}
