.page-header {
  background-color: $background-color-main;
}

.page-header__logo-wrapper {
  padding-left: 20px;
  padding-top: 12px;
  padding-bottom: 14px;
}

.page-header__logo {
  width: 191px;
}

@media (min-width: $tablet-width) {
  .page-header__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
