.program {
  position: relative;

  box-sizing: border-box;
  padding-top: 30px;
  padding-right: 20px;
  padding-bottom: 30px;
  padding-left: 20px;
}

.program__icon {
  position: absolute;
  top: 24px;
  left: 22px;

  width: 50px;
  height: 50px;

  background-color: #68b738;
  border-radius: 50%;

  &::after {
    content: "";
    position: absolute;

    background-repeat: no-repeat;
  }
}

.program__icon--losing-weight {
  &::after {
    top: -1px;
    left: 8px;

    width: 35px;
    height: 49px;

    background-image: url("../../img/icon-cat-slim.svg");
  }
}

.program__icon--weight-gain {
  &::after {
    top: 11px;
    left: -9px;

    width: 67px;
    height: 28px;

    background-image: url("../img/icon-cat-pro.svg");
  }
}

.program__title {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 28px;
  margin-left: 70px;
  padding: 0;

  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  color: $font-color-header;
  text-transform: uppercase;
}

.program__description {
  box-sizing: border-box;
  padding-bottom: 22px;

  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: $font-family-additional;

  border-bottom: 1px solid #d9d9d9;
}

.program__link {
  position: relative;
  z-index: 10;

  padding-right: 10px;

  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #111111;
  text-transform: uppercase;
  text-decoration: none;

  background-color: $background-color-lightgrey;

  transition: 0.3s;

  &::after {
    content: "";
    position: absolute;
    right: -28px;
    bottom: 0;
    z-index: -1;

    width: 37px;
    height: 12px;

    background-image: url("../img/icon-right-arrow-verylong.svg");
    background-repeat: no-repeat;
    background-position: center;
    transform: translateY(-50%);

    transition: 0.3s;
  }

  &:hover::after {
    right: -35px;
  }
}

@media (min-width: $tablet-width) {
  .program {
    padding-top: 78px;
    padding-right: 280px;
    padding-bottom: 40px;
    padding-left: 53px;
  }

  .program__icon {
    top: 90px;
    right: 62px;
    left: auto;

    width: 200px;
    height: 200px;
  }

  .program__title {
    margin-left: 0;

    font-size: 36px;
    line-height: 36px;
  }

  .program__description {
    font-size: 16px;
    line-height: 24px;

    border-bottom: none;
  }

  .program__icon--losing-weight {
    &::after {
      top: -12px;
      left: 30px;

      width: 140px;
      height: 194px;

      background-image: url("../../img/icon-cat-slim.svg");
    }
  }

  .program__icon--weight-gain {
    &::after {
      top: 43px;
      left: -36px;

      width: 268px;
      height: 112px;

      background-image: url("../img/icon-cat-pro.svg");
    }
  }

  .program__link {
    font-size: 20px;
    line-height: 20px;
  }
}
