.program {
  position: relative;

  box-sizing: border-box;
  padding-top: 30px;
  padding-right: 20px;
  padding-bottom: 30px;
  padding-left: 20px;
}

.program__icon {
  position: absolute;
  top: 24px;
  left: 22px;

  width: 50px;
  height: 50px;

  background-color: #68b738;
  border-radius: 50%;
}

.program__title {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 28px;
  margin-left: 70px;
  padding: 0;

  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  color: $font-color-header;
  text-transform: uppercase;
}

.program__description {
  box-sizing: border-box;
  padding-bottom: 22px;

  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: $font-family-additional;

  border-bottom: 1px solid #d9d9d9;
}

.program__link {
  position: relative;
  z-index: 10;

  padding-right: 10px;

  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #111111;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.3s;
  background-color: #f2f2f2;

  &::after {
    content: "";
    position: absolute;
    right: -28px;
    bottom: 0;
    z-index: -1;

    width: 37px;
    height: 12px;

    background-image: url("../img/icon-right-arrow-verylong.svg");
    background-repeat: no-repeat;
    background-position: center;
    transform: translateY(-50%);
    transition: 0.3s;
  }

  &:hover::after {
    right: -35px;
  }
}

