.programs {
  @include container;
}

.programs__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  list-style: none;
}

.programs__item {
  width: 100%;
  margin-bottom: 20px;

  background-color: $background-color-lightgrey;
}

@media (min-width: $desktop-width) {
  .programs__list {
    flex-direction: row;
    justify-content: space-between;
  }
}
